%body
  .container
    .header
      %h1
      = link_to image_tag("http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"), "root_path"
      .nav-bar
        %ul.clearfix
          %li.active 会員情報            
          %li 電話番号認証            
          %li 完了
            
    .main
      .main__container
        %h2.form-title 会員情報入力  
 
        =form_with url: user_registration_path, local: true do |form|
          .main__container__inputbox
            .form-group          
              .form-group
              %label ニックネーム
              %span.form-require 必須
              =form.text_field :nickname, placeholder: "例）ニックネーム", size: "40x20"
              .form-group
              %label メールアドレス
              %span.form-require 必須
              =form.email_field :email, placeholder: "PC・携帯どちらでも可", size: "40x20"
              .form-group
              %label パスワード
              %span.form-require 必須
              =form.password_field :password, placeholder: "7文字以上の半角英数字", size: "40x20"
              %p.how_to_write
                * 英字と数字の両方を含めて設定してください
              .form-group__check-box  
              %label.password パスワードを表示する
              =form.check_box :checkbox,id: :sex   
              .form-group__identification           
              %h3
                本人確認
              %p2 
                安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
              .form-group__name
              %label お名前（全角）
              %span.form-require 必須
              .form-group__name__kanji
                .form-group__name__kanji__first-name
                  =form.text_field :first_name, id:"first-name",placeholder: "例）山田", size: "40x20"
                .form-group__name__kanji__second-name
                  =form.text_field :last_name, id:"second-name",placeholder: "例）彩", size: "40x20"
              %label お名前カナ（全角）
              %span.form-require 必須
              .form-group__name__kana
                .form-group__name__kana__first-name              
                  =form.text_field :first_name_furigana, id:"first-name",placeholder: "例）ヤマダ", size: "40x20"
                .form-group__name__kana__second-name
                  =form.text_field :last_name_furigana, id:"second-name",placeholder: "例）アヤ", size: "40x20"
   
          .form-group
            %label 生年月日
            %span.form-require 必須                         
            .form-group__birth-select-wrap
              .form-group__birth-select-wrap__birth-year
                = raw sprintf(form.date_select(:birthday,prompt:"--",use_month_numbers: true,start_year: Time.now.year,end_year: (Time.now.year - 80),date_separator: '%s'),'年 ', '月 ') + '日'
            *本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。            
          .main__container__inputbox2
            .form-group
              %p3.form-info-text
                「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
              =form.submit "次へ進む",class: "btn-red"

            .form-group__next-page-navi
              %p4.register-info
                %a{href:"#"}
                  本人情報の登録について
                  %i.icon-arrow-right

            .form-group__recapture-term
              %p5.recapture-info
                This site is protected by reCAPTCHA and the Google
                =link_to "Privacy Policy","#" 
                and
                =link_to "Terms of Service","#" 
                apply.

    .footer  
      .footer__nav-company-rule
        %ul.menu
          %li プライバシーポリシー
          %li FURIMA利用規約
          %li 特定商取引に関する表記

      .footer__nav-company-logo
        =link_to image_tag("http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg",size: '80x65') 

      %p
        %small © FURIMA
        %script{src: "//pcweb-assets.mercdn.net/assets/js/app.js?3178455151"}
