.narrow-downitem{
  width: 100%;
  height: 55px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  

  

  &__category{
      width: 100%;
      
      padding: 17px 0 16px;
      max-width: 1040px;
      font-size: 14px;
      margin: 0 auto;
      display: flex;
      color: black;
      
    &__list{
      font-size: 14px;
      padding: 0 10px 0 0;
      text-align: center;
      color: black; 
      
      a{
        text-decoration: none;
        color: black;
      }

      a:hover{
        color: #3CCACE;
      }
    
      .icon{
        color: inherit
      }
    }
  }

}


.item-main{
  width: 100%;
  height: 1856px;
  background: #f8f8f8;

  &__show-item{
    height: 1776px;
    padding: 40px;
    margin: 0 auto;
  
  
    &__main-content{
      width: 700px;
      min-height: 1768px;
      margin: 0 auto; 

        &__content{
        width: 700px;
        height: 1630px;

        &__item{
        height: 1250px;
        padding: 24px 40px 40px;
        font-weight: bold;
        font-size: 21px;
        background-color: #fff;
          
            &__name{
            width: 620px;
            height: 28px;
            text-align: center;
            display: block;
          }

            &__image{
            width: 620px;
            height: 443px;
            margin-top: 16px; 

              &__details{
              display: flex;
              width: 620px;
              height: 443px;
              
                &__pictures{
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;

                  &__image{
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                }

                  &__sub-pictures{
                  width: 560px;
                  height: 87px;
                  justify-content: center;
                  margin-top: 10px;
                  display: flex;
                  

                    &__list1{
                    width: 140px;
                    height: 87px;
                    object-fit: cover;
                  }
                  &__list2{
                    width: 140px;
                    height: 87px;
                    object-fit: cover;
                  }

                  &__list3{
                    width: 140px;
                    height: 87px;
                    object-fit: cover;
                  }
               }
            }
          }
        }
          &__price{
            width: 620px;
            height: 77px; 
            margin: 24px 0 24px 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            

            span{
              font-size: 35px;
              font-weight: 1200;
              font-family: sans-serif;
            }
            &__other{
              height: 24px;
              text-align: center;
              
              span{
               font-size: 16px; 
              }
            
            }
        }

        &__text{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
            height: 162px;
            font-weight: 100;
          }

        &__main-table{
            width: 620px;
            height: 426px;
            margin-bottom: 20px;
            display: block;
                       
          table{
            width: 100%;
            height: 426px;
            border-collapse: collapse;
            box-sizing: border-box;
            font-weight: 100;
            border: 1px solid #dedede;
            


          tbody{
                                             
          tr{
            border: 1px solid #dedede;
                
          th{
            width: 20%;
            border: 1px solid #dedede;
            background-color: #eee;
          }
          td{
            width: 61%;
            padding: 15px ;
          }
        }
          tr{

          th{
            width: 20%;
            height: 78px;
            font-size: 14px;
            text-align: center;
            background-color: #eee;
          }  
          
          td{
            width: 61%;
            font-size: 14px;

          a.category1,a.category2,a.category3{
            height: 16px;
            color: #3CCACE;
            font-size: 13px;
            display: list-item; 
            list-style: none;
            text-decoration: none;
            font-weight: 100;
            margin-bottom: 10px;
            
            
          }  
        }  
      }

          tr{

          th{
            height: 38px;
            background-color: #eee;
          }         
        }

          tr{

          th{
            height: 38px;
            background-color: #eee;
          }
        }

          tr{

          th{
            height: 52px;
            background-color: #eee;
          }
          }
        }
          tr{

          th{
            height: 52px;
            background-color: #eee;
          }
          }
        }
          tr{
           
          th{
            height: 52px;
            background-color: #eee;
          }
          }
        }
          tr{

          th{
            height: 52px;
            background-color: #eee;
          }

          }    
          
        }
       }
      }                  
     }     
    }
          
          
  .item-main__show-item__main-content__content__item__option{
          width: 700px; 
          height: 48px;  
          margin-top: 10px ; 
          margin: 0 auto;  
                   
          ul{
            width: 652px;
            height: 0px;
            margin-top: 10px;
            margin-left: 35px;
            position: relative;
              
            li.likeBtn{
              a{
                width:100px;
                height:30px;
                display: inline-block;       
                padding-left: 40px;
                padding-top: 10px;
                margin-top: 20px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                text-decoration: none;
                font-size: 15px;
                
              }

              a:hover{
                box-shadow: 0 0 10px #ffb340;
              }


              .icon{
                color:  #3CCACE;
                padding-left: 14px;
                position: absolute;
                margin-top:35px;             
                  
              }
            }
          }
        
      
        

      .item-main__show-item__main-content__content__comment{ 
        width: 652px;       
        height: 257px;
        padding: 24px;                             
        text-align: center;
        background-color: #fff;

        form{
          width: 652px;
          height: 257px;
          text-align: center;
          
          .textarea{
            width: 630px;
            height: 82px;
            padding: 10px;
            margin-top: 40px;
                        
          }

          p.notice{
            width: 636px;
            height: 42px;
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }

          .comment-button{
            width: 60%;   
            height: 48px;
            font-size: 18px;
            line-height: 48px;
            padding: 1px 7px 2px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;                       
            border-radius: 100px;
            font-weight: 500;
          }           
         }
        }
        .icon-comment{  
          color: #fff; 
          font-size: inherit;
          display: inline-block;
          position: absolute;
          left: 250px;
          line-height: 48px;
          }
     }
     .comment-button1{
      position: relative;
      width: 100%;   
      height: 48px;
     }
         
     
    

    .item-main__show-item__main-content__link{
      width: 700px;
      height: 24px;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

       
      .left{
        width: 80px;
        height: 23px;
        display: inline-block;
          
       a{
        color: #3CCACE;
        text-decoration: none;
      }          
       .icon{
        color: #3CCACE;
      }
    }     
       .right{
        width: 100px;
        height: 23px;
        display: inline-block;
      
        a{
        color: #3CCACE;
        text-decoration: none;
      }       
        .icon{
        color: #3CCACE;
        }      
    }
  }
    .more-item{
      width: 700px;
      height: 33px;
      display: flex;
      
       a{
        margin: 24px 0 8px;
        color: #3CCACE;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px; 
      }        
    }               











  