.address-resistration
  %h2.address-resistration__header 発送元・お届け先住所変更
  = form_for address do |f|
    %ul.address-resistration__content
      %li.resistration-list
        .resistration-list__left
          %label{for: 'last_name'} 姓
          %span.required-mark *必須
        .resistration-list__right
          =f.text_field :last_name, class: 'text-form'
      %li.resistration-list
        .resistration-list__left
          %label{for: 'first_name'} 名
          %span.required-mark *必須
        .resistration-list__right
          =f.text_field :first_name, class: 'text-form'
      %li.resistration-list
        .resistration-list__left
          %label{for: 'postal_code'} 郵便番号
          %span.required-mark *必須
        .resistration-list__right
          =f.text_field :postal_code, class: 'text-form text-form__short'
      %li.resistration-list
        .resistration-list__left
          %label{for: 'prefecture'} 都道府県
          %span.required-mark *必須
        .resistration-list__right
          =f.select :prefecture_name, Address::PREFECTURE_NAMES, prompt: '未選択'
      %li.resistration-list
        .resistration-list__left
          %label{for: 'city'} 市区町村
          %span.required-mark *必須
        .resistration-list__right
          =f.text_field :city, class: 'text-form'
      %li.resistration-list
        .resistration-list__left
          %label{for: 'street'} 番地
          %span.required-mark *必須
        .resistration-list__right
          =f.text_field :street, class: 'text-form'
      %li.resistration-list
        .resistration-list__left
          %label{for: 'building'} 建物名
        .resistration-list__right
          =f.text_field :building, class: 'text-form'
      %li.resistration-list.resistration-list--bottom
        .resistration-list__left
          %label{for: 'tel'} 電話番号
        .resistration-list__right
          =f.text_field :tel, class: 'text-form text-form__short'
      %li.update-btn 
        = f.submit '変更する', class: 'submit-btn'