.furima-main__lower-image
    .furima-main__lower-image__content
      %h2.furima-main__lower-image__content__title だれでもかんたん、人生を変えるフリマアプリ
      %p.furima-main__lower-image__content__text 今すぐ無料ダウンロード！
      .furima-main__lower-image__content__icon
        = link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",  alt: "appstore", width: "180px"),"root_path", class:"furima-main__lower-image__content__icon__abtn"
        = link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", alt:"googleplay", width: "180px"),"root_path", class:"furima-main__lower-image__content__icon__abtn"
