@mixin backimage($url){
  background-image: image-url($url);
  background-size: cover;
}


.furima-header{
  padding: 0 60px;
  &__content{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main{
      display: flex;
      position: relative;
      align-items: center;


      &__logo{
        width: 140px;
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &__search{
        width: 100%;
        padding-bottom: 10px;
        form {
          display: flex;
        }
        &__input{
          width: calc(100% - 50px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        &__icon{
          width: 30px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 4px;
        }
      }
      &__btn{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 10px;
        &__left{
          position: relative;
          display: flex;
          a {
            padding-left: 16px;
            text-decoration: none;
            color: black;
          }
        }
        &__right{
          position: relative;
          display: flex;
          a {
            padding-left: 16px;
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}

.furima-main{

  &__top-image{
    width: 100vw;
    height: 560px;
    align-items: center;
    padding: 0 60px;
    display: flex;
    @include backimage("bg-mainVisual-pict_pc.jpg");
    background-position: top center;
    &__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__title{
        font-size: 60px;
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__text{
        font-size: 18px;
        color: white;
        margin: 16px 0 0 0;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__btn{
        margin: 24px 10px 0 0;
        display: flex;
        a{
          margin-right: 15px;
          width: 180px;
        }
      }
    }
  }

  &__upper-info{
    padding: 60px 20px;
    &__title{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__title::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      &__list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img{
          position: relative;
          margin-bottom: 20px;
          &__num{
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 20px;
            margin: 0 0 5px 0;
            font-size: 30px;
            background-color: skyblue;
            color: white;
          }
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span{
            color: skyblue;
            
          }
        }
      }
    }
  }


  &__middle-image{
    @include backimage("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    display: flex;
    align-items: center;
    &__content{
      color: white;
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__title{
        font-size: 27px;
        font-weight: bold;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__text{
        font-size: 18px;
        margin: 20px 0 30px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__btn{
        a{
          margin-right: 15px;
          width: 180px;
        }
      }
    }
  }

  &__lower-info{
    padding: 60px 100px;
    background-color: white;
    &__title{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__title::after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__lists{
      width: calc(100vw - 200px);
      margin: 0 auto;
      display: flex;
      &__list{
        text-align: center;
        padding: 0 20px;
        &__img{
          width: 70%;
          text-align: center;
          
          padding: 0 20px; 
        }
        &__title{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        
        &__text{
          margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
        }
      }
    }
  }

  &__pickup{
    margin: 0;
    padding: 80px 0 80px;
    background-color: #f8f8f8;
    height: 100%;
    &__category{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
    }
    &__content{
      text-align: center;
      &__link {
        font-size: 24px;
        text-decoration: none;
        color: skyblue;
        &__title{
          margin-bottom: 30px;
        }
      }
      &__lists{
        width: 780px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding-bottom: 26px;
        &__list{
          width: 220px;
          &__link{
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            &__img{
              width: 220px;
              height: 210px;
            }
            &__box{
              background-color: white;
              color: #333;
              padding: 16px;
              &__name{
                font-size: 16px;
                text-align: left;
              }
              &__price{
                font-size: 16px;
                text-align: left;
                ul{
                  display: flex;
                  justify-content: space-between;
                }
              }
            }
          }
        }
      }
    }
  }

  &__lower-image{
    @include backimage("bg-appBanner-pict.jpg");
    background-position: center;
    padding: 100px 40px;
    position: relative;
    &__content{
      text-align: center;
      color: white;
      &__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
      }
      &__text{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        &__abtn{
          margin-right: 15px;
          width: 180px;
        }
      }
    }
  }
}

.furima-footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__content{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__list{
      text-decoration: none;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__top{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  &__p{
    font-size: 14px;
  }
}

.sell-btn{
  width: 100px;
  background: skyblue;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 14px;
  &__text{
    color: white;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
}




